<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
  <meta charset="UTF-8">
  <title>게시판 리스트</title>
    <script src="/public/js/BoardLIke.js" defer></script>
</head>
<!--참고사이트
아이콘사용
https://icons.getbootstrap.com/icons/three-dots/
아이콘사용을 위한 jar 파일
https://www.webjars.org/
-->
<div layout:fragment="content">
    <h1 class="my-4">게시판 리스트</h1>
    <section id="boardListCont" class="row row-cols-lg-2 row-cols-1 g-5">
        <div class="col" th:each="b:${boards}">
            <div class="card">
                <div class="card-header" >
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="profile_user_post_update m-3 d-flex">
                            <div>
                            <img
                                th:if="${b.user.imgPath!=null}"
                                th:src="@{'{path}'(path=${b.user.imgPath})}"
                                alt="프로필IMG"
                                 style="width: 50px;object-fit: cover"
                                 class="img-thumbnail ">
                            </div>
                            <div class="">
                                <div>
                                <strong class="ms-2" th:text="${b.user.uId}"></strong>
                                (<strong class="ms-2" th:text="${b.user.name}"></strong>)
                                </div>
                                <div class="m-2 text-muted">
                                <small class="m-1">작성일: <span th:text="${#dates.format(b.postTime,'yyyy-MM-dd')}"></span></small>
                                <small>수정일: <span th:text="${#dates.format(b.updateTime,'yyyy-MM-dd')}"></span></small>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown">
                            <a href="#" role="button"  class=""  data-bs-toggle="dropdown">
                                <i class="bi bi-list fs-4" ></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" th:href="@{'/board/{bId}/detail.do'(bId=${b.bId})}">글상세</a>
                                </li>
                                <li><a class="dropdown-item" href="#">글목록</a></li>
                                <li><a class="dropdown-item" href="#" >계정정보</a></li>
                                <li>
                                    <a href="#" class="dropdown-item text-danger">
                                        <i class="bi bi-bell-fill"></i>
                                        신고
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/public/img/board/a.JPG" class="d-block w-100" alt="게시글 이미지">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div>
                        <h5 class="card-title" th:text="${b.title}"> 글 제목</h5>
                        <p class="card-text" th:text="${b.content}"> </p>
                    </div>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <th:block th:if="${session.loginUser!=null}" th:with="likes=${b.likes}" th:include="/board/loginLikes"> </th:block>
                    <th:block th:unless="${session.loginUser!=null}" th:with="likes=${b.likes}" th:include="/board/likes"> </th:block>
                    <!--th:with="변수이름=${변수로만들대상}" 지역변수 등록방법-->
                    <!--if else thymeleaf :: if, unless  로 작성한다 조건이 같아야함을 주의-->
                    <div class="viewCont btn btn-sm" data-bs-toggle="tooltip" data-bs-title="조회수">
                        <i class="bi bi-eye fs-4"></i>
                        <span th:text="${b.viewCount}"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</html>