<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <meta charset="UTF-8">
    <title>GRID</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script defer src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script defer src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<div layout:fragment="content">
    <h1>Grid 그리드</h1>
    <hr>
        <div class="container text-center">
            <form name="myForm" >
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="uId" placeholder="아이디"
                            th:value="${param.searchValue}">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="name" placeholder="이름">
                        </div>
                    </div>
                    <div class="col"></div>
                    <div class="col">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="gender1" value="MALE">
                            <label class="form-check-label" for="gender1">남</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="gender2" value="FEMALE">
                            <label class="form-check-label" for="gender2">녀</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col nation">
                        <select class="form-select" aria-label="nation"name="nation" onchange="categoryChange(this)">
                            <option value="" selected>국가</option>
                            <option value="korea">한국</option>
                            <option value="america">미국</option>
                            <option value="japan">일본</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-select city" aria-label="city" name="city" id="city">
                            <option value="">도시</option>
                        </select>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control" name="toTime" id="floatingFrom" value="" placeholder="일정 시작" onfocus="(this.type='date')">
                            <label for="floatingFrom">시작일</label>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-floating">
                        <input type="text" class="form-control" name="fromTime" value="" id="floatingTo" placeholder="일정 끝" onfocus="(this.type='date')">
                        <label  for="floatingTo">종료일</label>
                        </div>
                    </div>
                </div>
                <hr>
                <div id="buttons" class="text-end">
                    <button type="submit" class="btn btn-primary" formaction="./register.do" formmethod="post"> 저장</button>
                    <button type="submit" class="btn btn-primary" formaction="./excelDown.do" formmethod="get"> 엑셀다운</button>
                    <button type="submit" class="btn btn-primary" formaction=" " formmethod="get" >조회</button>
                    <button type="button" class="btn btn-primary" onclick="deleteSelected()" >삭제</button>
                </div>
            </form>
        </div>


<!--출력페이지-->
        <table class="table">
            <thead>
            <tr>
                <th scope="col">선택</th>
                <th scope="col">아이디</th>
                <th scope="col">이름</th>
                <th scope="col">성별</th>
                <th scope="col">국가</th>
                <th scope="col">도시</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="e:${exam}">
                    <th scope="row">
                        <input type="checkbox" th:value="${e.getEId()}">
                    </th>
                    <td class="col">
                      <p th:text="${e.getUId()}"></p>
                    </td>
                    <td class="col">
                      <p th:text="${e.getName()}"></p>
                    </td>
                    <td class="col">
                      <p th:text="${e.getGender()}"></p>
                    </td>

                    <td class="col">
                        <p th:text="${e.getNation()}"></p>
                    </td>
                    <td class="col">
                        <p th:text="${e.getCity()}"></p>
                    </td>
                </tr>
            </tbody>
        </table>

    <script>
        //멀티폼
        function categoryChange(e){
            let city_korea=["서울","인천","경기","부산"];
            let city_america=["LA","NewYork"];
            let city_japan=["도쿄","훗카이도","나고야"];
            let target=document.getElementById('city');
            target.options.length=0;

            let d;
            if(e.value=="korea"){
                d=city_korea;
            }else if(e.value=="america"){
                d=city_america;
            }else if(e.value=="japan"){
                d=city_japan;
            }
            for(x in d){
                let opt=document.createElement("option");
                opt.value=d[x];
                opt.innerHTML=d[x];
                target.appendChild(opt);
            }
         }


        //삭제
            function deleteSelected() {
            let checkboxes = document.querySelectorAll('input[type="checkbox"]');
            let selectedIds = [];
            for (let i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    selectedIds.push(checkboxes[i].value);
                }
            }
            if (selectedIds.length > 0) {
            if (confirm("선택한 항목을 삭제하시겠습니까?")) {
                let form = document.createElement("form");
                form.setAttribute("method", "post");
                form.setAttribute("action", "./remove.do");

                for (let i = 0; i < selectedIds.length; i++) {
                    let input = document.createElement("input");
                    input.setAttribute("type", "hidden");
                    input.setAttribute("name", "selectedIds");
                    input.setAttribute("value", selectedIds[i]);
                    form.appendChild(input);
                }
                document.body.appendChild(form);
                form.submit();
            }
            } else {
                alert("삭제할 항목을 선택해주세요.");
            }
        }

   </script>
</div>


</html>
