<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <meta charset="UTF-8">
    <title>GRID</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script defer src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script defer src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<div layout:fragment="content">
    <h1>Grid 그리드</h1>
    <hr>
        <div class="container text-center">
            <form name="searchAndInsertForm" >
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="uId" placeholder="아이디">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="name" placeholder="이름">
                        </div>
                    </div>
                    <div class="col"></div>
                    <div class="col">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="gender1" value="MALE" >
                            <label class="form-check-label" for="gender1">남</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="gender2" value="FEMALE">
                            <label class="form-check-label" for="gender2">녀</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col nation">
                        <select class="form-select" aria-label="nation"name="nation" onchange="categoryChange(0,this)">
                            <option value="" selected>국가</option>
                            <option value="korea">한국</option>
                            <option value="america">미국</option>
                            <option value="japan">일본</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-select city" aria-label="city" name="city" id="city0">
                            <option value="">도시</option>
                        </select>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control" name="toTime" id="floatingFrom" value="" placeholder="일정 시작" onfocus="(this.type='date')">
                            <label for="floatingFrom">시작일</label>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-floating">
                        <input type="text" class="form-control" name="fromTime" value="" id="floatingTo" placeholder="일정 끝" onfocus="(this.type='date')">
                        <label  for="floatingTo">종료일</label>
                        </div>
                    </div>
                </div>
                <hr>
                <div id="buttons" class="text-end">
                    <button type="submit" class="btn btn-primary" formaction=" " formmethod="get" >조회</button>
                    <button type="submit" class="btn btn-primary" onclick="register()"> 저장</button>
                    <button type="button" class="btn btn-primary" onclick="rowAddForm()"> 추가</button>
                    <button type="submit" class="btn btn-primary" formaction="./excelDown.do" formmethod="get"> 엑셀다운</button>
                    <button type="button" class="btn btn-primary" onclick="deleteSelected()" >삭제</button>
                </div>
            </form>
        </div>


<!--출력페이지 --------------------------------------------------------------------------->
        <table class="table">
            <thead>
            <tr>
                <th scope="col">선택</th>
                <th scope="col">아이디</th>
                <th scope="col">이름</th>
                <th scope="col">성별</th>
                <th scope="col">국가</th>
                <th scope="col">도시</th>
            </tr>
            </thead>

            <!--출력리스트-->
            <th:block th:include="/examgrid/listBoard.html"></th:block>
        </table>

<!--수정모달창 ---------------------------------------------------------------------------->
    <div id="modifyModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">수정</h5>
                </div>
                <div class="modal-body">
                    <form name="modifyForm" method="post">
                        <input type="hidden" name="eId" th:value="${eId}">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control"  value="아이디" readonly>
                            </div>
                            <div class="input-group mb-3 col">
                                <input type="text" class="form-control" name="uId" placeholder="아이디">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control"  value="이름" readonly>
                            </div>
                            <div class="input-group mb-3 col">
                                <input type="text" class="form-control" name="name" placeholder="이름">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 mb-3">
                                <input type="text" class="form-control"  value="성별" readonly>
                            </div>
                            <div class="mb-3 orm-check form-check col-3">
                                <input class="form-check-input" type="radio" name="gender" id="gender3" value="MALE" >
                                <label class="form-check-label" for="gender1">남</label>
                            </div>
                            <div class=" mb-3 form-check form-check col-3">
                                <input class="form-check-input" type="radio" name="gender" id="gender4" value="FEMALE">
                                <label class="form-check-label" for="gender2">녀</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col input-group mb-3">
                                <input type="text" class="form-control" value="국가" readonly>
                            </div>
                            <div class="col nation">
                                <select class="form-select mb-3" aria-label="nation" name="nation" onchange="categoryChange(1,this)">
                                    <option value="" >국가</option>
                                    <option value="korea">한국</option>
                                    <option value="america">미국</option>
                                    <option value="japan">일본</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col input-group mb-3">
                                <input type="text" class="form-control" value="도시" readonly>
                            </div>
                            <div class="col mb-3">
                                <select class="form-select city" aria-label="city" name="city" id="city1">
                                    <option value="">도시</option>
                                </select>
                            </div>
                        </div>
                        <div class="mx-auto">
                            <button type="button" class="btn btn-primary" onclick="modifyAction()">저장</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        //멀티폼
        function categoryChange(id,e){
            let city_korea=["Seoul","Incheon","Daegu","Busan"];
            let city_america=["LA","NewYork"];
            let city_japan=["Tokyo","Fukuoka","Osaka"];
            let target=document.getElementById(`city${id}`);
            target.options.length=0;

            let d;
            if(e.value=="korea"){
                d=city_korea;
            }else if(e.value=="america"){
                d=city_america;
            }else if(e.value=="japan"){
                d=city_japan;
            }
            for(let x in d){
                let opt=document.createElement("option");
                opt.value=d[x];
                opt.innerHTML=d[x];
                target.appendChild(opt);
            }
         }


        //삭제
            function deleteSelected() {
            let checkboxes = document.querySelectorAll('input[type="checkbox"]');
            let selectedIds = [];
            for (let i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    selectedIds.push(checkboxes[i].value);
                }
            }
            if (selectedIds.length > 0) {
            if (confirm("선택한 항목을 삭제하시겠습니까?")) {
                let form = document.createElement("form");
                form.setAttribute("method", "post");
                form.setAttribute("action", "./remove.do");

                for (let i = 0; i < selectedIds.length; i++) {
                    let input = document.createElement("input");
                    input.setAttribute("type", "hidden");
                    input.setAttribute("name", "selectedIds");
                    input.setAttribute("value", selectedIds[i]);
                    form.appendChild(input);
                }
                document.body.appendChild(form);
                form.submit();
            }
            } else {
                alert("삭제할 항목을 선택해주세요.");
            }
        }

    //수정
        const modifyForm=document.forms["modifyForm"];
        const modifyModal=new bootstrap.Modal(document.getElementById("modifyModal"), {});

        async function loadModify(eId){
            let url=`/examgrid/${eId}/detail.do`;
            const resp=await fetch(url);
            if(resp.status===200){
                const json=await resp.json();
                for(let key in json){
                    modifyForm.querySelectorAll("[name]").forEach((el)=> {
                        key = el.name;
                        if (key === "gender") {
                            if (el.value === json[key]) {
                                el.setAttribute("checked",""); // radio 버튼 체크 속성 주기
                            }
                        }else if (key === "nation" || key === "city") {
                            el.querySelectorAll("option").forEach((option) => {
                                if (option.value === json[key]) {
                                    option.selected = true; // option 선택 상태 설정
                                }
                            });
                        } else {
                            el.value = json[key];
                        }
                    })
                }
                modifyModal.show();
            }
        }

            async function modifyAction() {
                modifyModal.hide();
              let url="/examgrid/handler.do";
                const data=new FormData(modifyForm);
                const resp=await fetch(url,{method:"PUT", body:data});
                if(resp.status===200){
                    const json=await resp.json();
                    if(json.handler>0){//"handler":"1"
                        alert("수정성공");
                        await loadPage();
                    }
                }else{
                    alert("수정 실패 status : " + resp.status);
                }
            }



        let loadCont=document.getElementById('loadCont');
        async function loadPage(){
            let url=`/examgrid/listBoard.do`
            const resp=await fetch(url);
            if(resp.status===200){
                let printText=await resp.text();
                loadCont.innerHTML=printText; // ajax 로 리스트 새로 불러오기
            }
        }

        let indexNum=0;

        const searchAndInsertForm=document.forms['searchAndInsertForm']
        function rowAddForm(){
            loadCont.insertAdjacentHTML("afterbegin",rowInputComponent());
            indexNum+=1;
            let rowInputForm=document.forms['rowInputForm'];
        }

        function rowInputComponent(){
            return `
                <tr>
                <th scope="row">
                    <input type="checkbox" >
                </th>
                <form name="rowInputForm">
                <td class="col">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="uId" placeholder="아이디">
                    </div>
                </td>
                <td class="col">
                  <div class="input-group mb-3">
                        <input type="text" class="form-control" name="name" placeholder="이름">
                    </div>
                </td>
                <td class="col">
                    <div class="row">
                        <div class="mb-3 orm-check form-check col-3">
                            <input class="form-check-input" type="radio" name="gender" id="gender5" value="MALE" >
                            <label class="form-check-label" for="gender5">남</label>
                        </div>
                        <div class=" mb-3 form-check form-check col-3">
                            <input class="form-check-input" type="radio" name="gender" id="gender6" value="FEMALE">
                            <label class="form-check-label" for="gender6">녀</label>
                        </div>
                    </div>
                </td>

                <td class="col">
                    <select class="form-select" aria-label="nation"name="nation" onchange="categoryChange(3,this)">
                        <option value="" selected>국가</option>
                        <option value="korea">한국</option>
                        <option value="america">미국</option>
                        <option value="japan">일본</option>
                    </select>
                </td>
                <td class="col">
                   <select class="form-select city" aria-label="city" name="city" id="city3">
                        <option value="">도시</option>
                    </select>
                </td>
                </form>
                </tr>
                `;
        }

        async function register(){
            if(indexNum==0){
                searchAndInsertForm.setAttribute("action","./register.do")
                searchAndInsertForm.setAttribute("method","POST")
                await searchAndInsertForm.onsubmit();
                console.log(indexNum+"num이 작음")
            }
            if(indexNum>0){
                // await to_ajax();
                // alert("뭐..")
                console.log(indexNum+"num이 큼.")
                let rowInputForm=document.forms['rowInputForm'];
                console.log(rowInputForm)
                let url="/examgrid/handler.do";
                const data=new FormData(rowInputForm);
                //데이터확인
                for (const [name, value] of data.entries()) {
                    alert(name + ": " + value);
                }

                const resp=await fetch(url,{method:"POST", body:data});
                if(resp.status===200){
                    const json=await resp.json();
                    if(json.handler>0){//"handler":"1"
                        alert("등록완료");
                        await loadPage();
                    }
                }else{
                    alert("입력실패 status : " + resp.status);
                }
            }

        }



        // async function to_ajax() {
        //     let formData = new FormData(rowInputForm);
        //     let xhr = new XMLHttpRequest();
        //     xhr.open("POST", "/examgrid/handler.do");
        //     xhr.onreadystatechange = function () {
        //         if (xhr.readyState === 4 && xhr.status === 200) {
        //             let jsonResponse = JSON.parse(xhr.responseText);
        //             alert(jsonResponse);
        //         } else if (xhr.readyState === 4 && xhr.status !== 200) {
        //             alert("Error: " + xhr.status);
        //         }
        //     };
        //     xhr.send(formData);
        // }


   </script>
</div>


</html>
