<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>유저상세</title>
</head>
<div layout:fragment="content" >
  <h1 class="my-4">유저 상세페이지</h1>


  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active"  data-bs-toggle="tab" data-bs-target="#followersNav" type="button" role="tab">
        팔로워
        <span th:text="${(user.followers!=null)?user.followers.size():0}"></span>
      </button>
      <button class="nav-link"  data-bs-toggle="tab" data-bs-target="#followingsNav" type="button" role="tab" >
        팔로잉
        <span th:text="${(user.followings!=null)?user.followings.size():0}"></span>
      </button>
      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#boardsNav" type="button" role="tab" >
        게시글
      </button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="followersNav" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
      <h2>팔로워 리스트</h2>
      <div id="followerCont" class="list-group" >
        <div th:each="f:${user.followers}" class="d-flex align-items-center list-group-item text-bg-dark" aria-current="true">
          <img  th:src="@{'{path}'(path=${f.imgPath})}"
                  class="border rounded-circle"
                  style="width:45px;height: 45px"/>
          <div class="dark ms-3">
            <div class="">
              <i class="bi bi-hash"></i>
              <span th:text="${f.uId}"></span>
              <i class="bi bi-dot"></i>
              <a th:href="@{'/user/follow/{uId}/insert.do'(uId=${f.uId})}">팔로우</a>
            </div>
            <div class="text-white-50">
              <small th:text="${f.name}">게시물</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="followingsNav" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
      <h2>팔로잉 리스트</h2>
      <p th:text="${user.followings}"></p>
    </div>
    <div class="tab-pane fade" id="boardsNav" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
      <h2>게시글 리스트</h2>
    </div>
  </div>

  <p>
    <a th:if="${session.loginUser}" href="@{'/user/{uId}/modify.do'(uId=${user.getUId()})}">수정페이지</a>
  </p>

<!--  <p>아이디 : <strong th:text="${user.getUId()}"></strong></p>
  <p>이름 : <strong th:text="${user.getName()}"></strong></p>
  <p>가입일 : <strong th:text="${user.getPostTime().toLocaleString()}"></strong></p>
  <p>프로필 : <img class="img-thumbnail" style="width: 100px" src="${user.getImgPath()}"></p>
  <p>핸드폰: <strong th:text="${user.getPhone()}"></strong></p>
  <p>이메일 : <strong th:text="${user.getEmail()}"></strong></p>
  <p>생일 : <strong th:text="${user.getBirth()}"></strong></p>
  <p>성별 : <strong th:text="${user.getGender()}"></strong></p>
  <p>주소 : <strong th:text="${user.getAddress()}"></strong></p>
  <p>주소상세 : <strong th:text="${user.getDetailAddress()}"></strong></p>
  <p>등급(상태) : <strong th:text="${user.getPermission()}"></strong></p>
  <p><a th:href="@{'./update.do'(u_id=${user.getUId()})}">수정폼</a></p>-->
</div>

</html>