<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--bundle : 외부 라이브러리 포함-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">HOME</a>
    <!--햄버거버튼-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--          -->

    <!--메뉴-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " href="/board/list.do">게시판</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/board/register.do">
            게시글 등록
            <i class="bi bi-plus-square"></i>
          </a>
        </li>
      </ul>


    <!--로그인한 유저-->
      <div class="d-flex ">
        <ul class="breadcrumb ">
          <th:block th:if="${session.loginUser==null}">
            <li class="breadcrumb-item">
              <a class="nav-link" href="/user/login.do">로그인</a>
            </li>
            <li class="breadcrumb-item">
              <a class="nav-link" href="/user/signup.do">회원가입</a>
            </li>
          </th:block>
          <th:block th:if="${session.loginUser!=null}">
            <li class="breadcrumb-item">
              <a class="nav-link"
                 th:href="@{'/user/{uId}/detail.do'(uId=${session.loginUser.uId})}">
                <!--path:variable
                  th:href="@{'/user/{uId}/detail.do'(uId=${session.loginUser.uId})
                  http://localhost:8080/user/user01/detail.do
                -->
                <span th:text="${session.loginUser.uId}"></span>
                (<span th:text="${session.loginUser.name}"></span>)
              </a>
            </li>
            <li class="breadcrumb-item">
              <a class="nav-link" href="/user/logout.do">로그아웃</a>
            </li>
          </th:block>
        </ul>
      </div>
    </div>
  </div>
</nav>
<th:block th:if="${msg!=null || session.msg!=null}">
  <div  id="actionModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">ActionMsg</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p th:text="${msg}"></p><!--메세지거나 세션메세지거나..-->
          <p th:text="${session.msg}"></p><!--메세지거나 세션메세지거나..-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!--타임리프 문서에서 session을 지울 수 없다.-->

  <script th:inline="javascript">
    const actionModal=document.getElementById("actionModal");
    new bootstrap.Modal(actionModal).show();
  </script>
</th:block>
</html>